@model List<Category>
<div>
    <h1>類別清單</h1>
    <a asp-controller="Category" asp-action="Create" class="btn-primary"><i class="btn-info"></i>新增類別</a>
    @* <button style="background-color:black"><a style="color:white" href="@Url.Action("Create")">新增類別</a></button> *@
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>類別名稱</th>
            <th>顯示順序</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DisplayOrder</td>
                <td>
                    <a asp-controller="Category" asp-action="Update" asp-route-id="@item.Id" method="Get" class="btn btn-info">編輯</a>
                     <form asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">刪除</button>
                </form>
                </td>
            </tr>
        }
    </tbody>
</table>